:root {
  --vp-c-reactive: #229863;
  --vp-c-vscode: #1F9CF0;
  --vp-c-vscode-darker: #007ACC;
  --vp-c-vue: var(--vp-c-reactive);
  --vp-c-npm: color-mix(in srgb, var(--vp-c-text-1), red 50%);

  --vp-c-brand-1: var(--vp-c-vscode);
  --vp-c-brand-2: var(--vp-c-reactive);
  --vp-c-brand-3: var(--vp-c-vscode-darker);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient( 90deg, var(--vp-c-reactive) 30%, var(--vp-c-vscode) 80%);
  --vp-home-hero-image-background-image: linear-gradient( 130deg, var(--vp-c-reactive) 50%, var(--vp-c-vscode-darker) 50%);
  --vp-home-hero-image-filter: blur(180px);
}

.VPHero .main .text {
  opacity: 0.8;
}

.api-link {
  text-decoration: none !important;
  @apply !inline-block !font-mono !px-1 !text-[1.1em];
}

.api-link:hover {
  @apply op80;
}

.api-link.scope-vscode {
  color: var(--vp-c-vscode);
}

.api-link.scope-vscode::before {
  content: '';
  @apply mr-1 !i-vscode-icons:file-type-vscode;
}

.api-link.scope-reactive {
  color: var(--vp-c-reactive);
}

.api-link.scope-reactive::before {
  content: '';
  @apply mr-1 !i-reactive-vscode:logo;
}

.api-link.scope-vue {
  color: var(--vp-c-vue);
}

.api-link.scope-vue::before {
  content: '';
  @apply mr-1 !i-vscode-icons:file-type-vue;
}
